<section class="home" id="home">
    <div class="home-text">
        <h5>Hello, I am</h5>
        <h1>Al Jabir</h1>
        <h6>I am Passionate Frontend <span>Developer</span></h6>
        <p>
            I design and develop services for customers of all sizes, specializing
            in creating stylish, modern website, web services and online stores.
        </p>
        <a href="" class="btn">Download cv</a>
    </div>

    <div class="home-img">
        <img src="./images/me/received_155163075240710 - Copy.jpeg" alt="" />
    </div>
</section>
<!-- -----------about---------- -->
<section class="about" id="about">
    <div class="about-img">
        <img src="./images/me/DSC_0003.JPG" alt="" />
    </div>
    <div class="about-text">
        <h3>About Me</h3>
        <h2>
            I'm a Freelancer Front-end Developer with over 2 years of experience.
        </h2>
        <p>
            I'm a Freelancer Front-end Developer with over 2 years of experience.
            I'm from Bangladesh. I code and create web elements for amazing people
            around th world. I like work with new people. New people new
            experiences
        </p>
        <div class="count">
            <a href="#"><span>5K</span>Projects Completed</a>
            <a href="#"><span>5K</span>Statisfied Clients</a>
        </div>
        <div class="main-btn">
            <a href="#" class="btn">Contact Me</a>
            <a href="#" class="btn">Download CV</a>
        </div>
    </div>
</section>

<!-- ------Service------- -->
<section class="services" id="services">
    <div class="center">
        <h3>What i do?</h3>
    </div>
    <div class="service-content">
        <div class="row">
            <i class="fas fa-desktop"></i>
            <h3>Web Development</h3>
            <p>
                There are many variation of passages of lorem ipsum available, but
                the majority have suffered.
            </p>
        </div>
        <div class="row">
            <i class="fas fa-desktop"></i>
            <h3>Web Development</h3>
            <p>
                There are many variation of passages of lorem ipsum available, but
                the majority have suffered.
            </p>
        </div>
        <div class="row">
            <i class="fas fa-desktop"></i>
            <h3>Web Development</h3>
            <p>
                There are many variation of passages of lorem ipsum available, but
                the majority have suffered.
            </p>
        </div>
        <div class="row">
            <i class="fas fa-desktop"></i>
            <h3>Web Development</h3>
            <p>
                There are many variation of passages of lorem ipsum available, but
                the majority have suffered.
            </p>
        </div>
        <div class="row">
            <i class="fas fa-desktop"></i>
            <h3>Web Development</h3>
            <p>
                There are many variation of passages of lorem ipsum available, but
                the majority have suffered.
            </p>
        </div>
        <div class="row">
            <i class="fas fa-desktop"></i>
            <h3>Web Development</h3>
            <p>
                There are many variation of passages of lorem ipsum available, but
                the majority have suffered.
            </p>
        </div>
    </div>
</section>

<!-- ----cta---- -->
<section class="cta">
    <h4>Have Any Project In Your Mind?</h4>
    <h2>Just Say Hello !</h2>
    <a href="#" class="btn">Hire Me</a>
</section>
<!-- ----start resume--------- -->

<section class="resume" id="resume">
    <div class="center">
        <h3>Education & Explore</h3>
    </div>
    <div class="resume-content">
        <div class="box">
            <h6>Sept - 2019 - present</h6>
            <h4>Diploma in Computer Technology</h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                ipsam, quaerat asperiores ut aut cumque neque unde sequi deleniti
                distinctio culpa vel sint perferendis, ipsum natus? Repellendus
                obcaecati reprehenderit porro.
            </p>
            <h5>Sylhet Polytechnic Institute</h5>
        </div>
        <div class="box">
            <h6>Sept - 2019 - present</h6>
            <h4>Diploma in Computer Technology</h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                ipsam, quaerat asperiores ut aut cumque neque unde sequi deleniti
                distinctio culpa vel sint perferendis, ipsum natus? Repellendus
                obcaecati reprehenderit porro.
            </p>
            <h5>Sylhet Polytechnic Institute</h5>
        </div>
        <div class="box">
            <h6>Sept - 2019 - present</h6>
            <h4>Diploma in Computer Technology</h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                ipsam, quaerat asperiores ut aut cumque neque unde sequi deleniti
                distinctio culpa vel sint perferendis, ipsum natus? Repellendus
                obcaecati reprehenderit porro.
            </p>
            <h5>Sylhet Polytechnic Institute</h5>
        </div>
        <div class="box">
            <h6>Sept - 2019 - present</h6>
            <h4>Diploma in Computer Technology</h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                ipsam, quaerat asperiores ut aut cumque neque unde sequi deleniti
                distinctio culpa vel sint perferendis, ipsum natus? Repellendus
                obcaecati reprehenderit porro.
            </p>
            <h5>Sylhet Polytechnic Institute</h5>
        </div>
    </div>
</section>
<!-- contact -->
<section class="contact" id="contact">
    <div class="center">
        <h3>Contact Us</h3>
    </div>
    <div class="contact-form">
        <form action="">
            <input type="text" placeholder="Your Name" required />
            <input type="email"
                   name="email"
                   id=""
                   placeholder="Email Address"
                   required />
            <textarea name=""
                      id=""
                      cols="30"
                      rows="10"
                      placeholder="Project Description"></textarea>
            <input type="submit" value="Send" class="send-btn" />
        </form>
    </div>
</section>
